.product-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;

    .display-type-btn {
        min-width: 80px;
        margin-top: 120px;
        padding: 5px 10px;
        margin-right: 15px;
        font-size: 14px;
        border-radius: 30px; 
        background-color: #cccccc; 
        color: #dddddd;

        &:hover {
            background-color: blue; 
        }
    }
    
    .product-list {
        width: 100%;
        min-height: 65vh;
        margin-left: 15px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);

        .product-card {
            max-width: 210px;
            margin-bottom: 30px;
            border-radius: 5px;
            background: rgba(255, 255, 255, 0.65);
            backdrop-filter: blur(2px);
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-right-color: rgba(255, 255, 255, 0.1);
            border-bottom-color: rgba(255, 255, 255, 0.1);
            box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
        
            .image-wrapper {
                position: relative;
                width: 100%;
                height: 300px;
                margin-bottom: 20px;
                display: flex;
                justify-content: center;
                overflow: hidden;
                border-radius: 5px;
                box-shadow: 2px 4px 4px 0px rgba(0,0,0,0.3);

                & img {
                    max-width: 320px;
                    min-height: 320px;
                }
            }
        }      
    }

    .product-list-table {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .product-table__item {
            max-width: 47.3%;
            height: 80px;
            margin: 10px 15px 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: #7a7a7c;
            font-weight: 700;
            font-size: 12px;
            letter-spacing: 1.3px;
            border-radius: 5px;
            background: rgba(255, 255, 255, 0.65);
            backdrop-filter: blur(2px);
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-right-color: rgba(255, 255, 255, 0.1);
            border-bottom-color: rgba(255, 255, 255, 0.1);
            box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);

            .product-table__image {
                position: relative;
                width: 60px;
                max-height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                border-radius: 3px;
                box-shadow: 2px 4px 4px 0px rgba(0,0,0,0.3);

                & img.img {
                    max-width: 78px;
                    min-height: 80px;
                }
            }
            .product-table__name {
                width: 160px;
                padding: 0 20px;
            }
        }
    }
}

