.not-page {
   margin-top: 150px;
   min-height: 75vh;
   color: #7c7c7c;
   text-align: center;
    

    .page-title {
      margin-bottom: 24px;
      font-size: 48px;
      font-weight: 900;
      line-height: 1.5;
    }

    .page-desc {
      font-size: 24px;
      line-height: 1.33;
    }
}