.form-item {
	width: 100%;
	color: #9a9a9c;

	& input {
		color: #9a9a9c;
		font-size: 16px;
	}

	&.has-validation {
		.form-control {
			color: #9a9a9c;
			border-color: #dc3545;

			&:hover, &:focus {
				border-color: #dc3545;
				box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
			}
		}

		.error-message {
			margin-top: 4px;
			text-align: left;
			color: #dc3545;
		}
	}
}
